
#layui-layer1{
    height:520px;
    top:  0;
    left: 0;
}

/*隐藏最小最大化按钮*/
/*.layui-layer-setwin{*/
    /*display: none;*/
/*}*/
#layui-layim-chat .layim-chat-send span.layim-send-set {
    display: none;
}
.layim-chat-text .layim-chat-system span{
    display: none;
}
.layim-chat-main .layim-chat-system ul li{

    /*font-size: 16px;*/
    /*cursor:pointer;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*min-height: 0;*/
    /*类似这样的代码都是为了覆盖默认的样式*/

}
.layim-chat-text div.layim-chat-user *{
    display: none;
}
.layim-chat-text div.layim-chat-user+.layim-chat-text{
    display: none;
}
.layim-chat-main .layim-chat-text  ul li{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 200;
    cursor:pointer;
    line-height: 30px;
    padding: 0;
    margin: 0;
    min-height: 0;
}
.layim-chat-main .layim-chat-text  ul li a {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 200;
    color: RGB(98, 158, 229);
}
.layim-chat-main .layim-chat-text  ul li{
    display: none;
}
.layim-chat-main .layim-chat-text  ul li.question{
    display: block;
}
.layim-chat-main .layim-chat-text  ul li a:hover{
    color: blue;
}
.layim-chat-main .layim-chat-text  ul li+li{
    border-top:1px dashed gray;
}
.layim-chat-text .hintMsg{
    font-size:18px;
    font-weight: 700;
}